.sudoku-p1 {
	top: 100px;
}
.form-control{
    width: 11.1% !important;
    height: 70px;
    font-size: 2rem !important;
}
.form-control:nth-child(3n){
    border-right: solid 2px;
}

button{
    margin-top: 4em;
    margin-left: 20%;
    position:relative;
    font-size: 1.5em !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.bb{
    border-bottom: 1px solid #000;
}
input{
    font-size: 2rem;
}
#message {
	display: flex;
	padding-top: 19rem;
	font-size: 3rem;
}
#sudoku{
    max-width: 70%;
}
.bt{
    border-top: 1px solid #000;
}
.bl{
    border-left: 1px solid #000;
}